.site-header{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	background: #fff;
	z-index: 99;
	box-shadow: 0 0px 17px #000;
	.site-branding{
			width: 100%;
		    display:flex;
		    justify-content:space-between;
		    transition: margin-top .5s ease-out 0s;
		    @include media-breakpoint-down(sm){
		    	align-items:center;
		    }
		.logo{
			max-width:300px;
			transition: max-width .5s ease-out 0s;
			img{
				width:100%;
				display:block;
			}

			@include media-breakpoint-down(sm){
				max-width: 120px;
			}
		}
		.call-now{
			a{
				transition: font-size .5s ease-out 0s;
				span{
					transition: font-size .5s ease-out 0s;
				}
			}
		}
		.mobile-toggle{
			font-size: 25px;
			cursor: pointer;
			// XS Breakpoint
			@include media-breakpoint-up(md){
				display:none;
			}
		}
	}

	#main-navbar{
		transition: padding-top .5s ease-out 0s;
	}

	&.scroll{
		.site-branding{
			margin-top: 0 !important;
			.logo{
				max-width: 150px;
			}	
		}
		.call-now{
			a{
				font-size: 13px;
				span{
					font-size: 15px;
				}
			}
		}
		#main-navbar{
			padding-top: 15px !important;
		}
	}
}

.menu-item a{
	color: theme-color('dark');
	font-size: 16px;
}