// Navigation Stuff
.nav-footer{
	
	.nav-title{
		border-bottom: solid 1px $primary;
	}

	ul{
		margin: 0;
		padding: 0;
		@extend .nav;

		.current_page_item{
			@extend .active;
		}
	}
}


// Address Card
.address-card{
	background-color: transparent;
	// border-width: 0;
}

#feature-image{
	height: 500px;

	@include media-breakpoint-up(md){
		height: 650px;
	}
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@include media-breakpoint-up(sm){
	.modal-wrapper{
		>div{
			padding: 20px 100px;
		}
	}
}

.modal-wrapper{
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	display: none;
	>div{
		width: 100%;
		height: 100%;
		background-color: rgba(110, 113, 106, .9);
		padding: 20px 15px;
		overflow-y: scroll;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-size: 16px;
		
		.modal-content{
			max-width: 600px;
			width: 100%;
			padding: 20px 40px;
			border: 0;
			background-color: transparent;
			margin: auto;
			position: relative;
			.gform_wrapper{
				input[type=text], textarea{
					width: 100% !important;
				}
				label{
					font-weight: normal !important;
				}
				.gfield_label{
					font-size: 18px !important;
				}
				input[type=radio]{
					margin-top: 0 !important;
					margin-right: 5px !important;
				}
				input[type=submit]{
					@extend .btn-white;
					cursor: pointer;
				}
			}
			.close{
			    position: absolute;
			    top: 40px;
			    right: 5px;
			    color: #fff;
			    font-size: 35px;
			}
		}
	}
}

body{
	&.open{
		overflow: hidden;
	}
}

.lg-social-media-cont{
	ul{
		padding: 0;
		list-style: none;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		li{
			width: 20px;
			margin-right: 20px;
			&:last-child{
				margin-right: 0;
			}
			img{
				width: 100%;
			}
		}
	}
}

.team-list{
	.head-image{
		position: relative;
		.description{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			padding: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			text-align: center;
			background-color: rgba(theme-color('blue'), .7);
			opacity: 0;
			transition: all .3s ease-out 0s;
		}

		&:hover{
			.description{
				opacity: 1;
			}
		}
	}
}

.lg-testimonial{
	blockquote{
		font-size: 1.1rem;
		color: theme-color('blue');
	}
}

#testimonials::before{
	content: '\f10d';
    font: normal normal normal 30px/1 FontAwesome;
    color: theme-color('blue');
    margin-bottom: 23px;
    display: block;
    text-align: center;
}

#connect{
	ul{
		li{
			display: flex;
			align-items: center;
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 0;
			}
			.icon{
				.fa{
					font-size: 23px;
				    padding: 7px;
				    width: 38px;
				    text-align: center;
				    background-color: $blue;
				    border-radius: 6px;
				    color: #fff;
				    margin-right: 15px;
				}
			}
		}
	}
}

#contact-us{
	.container{
		max-width: 500px;
	}
	.form{
		@extend .mt-4;
		.gfield_label{
			display: none !important;
		}
		input[type=text]{
			width: 100%;
		}	
		.gform_footer{
			text-align: center;
		}
		.gform_button{
			@extend .btn-dark;
			@extend .btn;
		}
		.gfield{
			padding:0 !important;
		}
	}
}

#our-services{
	background-size: cover;
	background-repeat: no-repeat;
}

#site-navigation{
	@include media-breakpoint-up(md){
		width: 800px;
		#menu-main-nav{
			width: 100%;
			margin: auto;
			display: flex;
			justify-content: space-between;
		}
	}
}