.text-red{
	color: $red;
}

.bg-red{
	background-color: $red;
}

.btn-red{
	background-color: $red;
	border: 1px solid $red;
	color: #fff;

	&:hover{
		background-color: #fff;
		color: $red;
	}
}

.img-full{
	width: 100%;
	display: block;
	margin: auto;
}

.btn-white{
	padding: 9px 25px;
	border: 2px solid #fff;
	background: transparent;
	color: #fff;

	&:hover{
		background-color: #fff;
		color: $dark;
		text-decoration: none;
	}
}