// Site Container 
.site{
	@include container(100%);
}

// Site Header
.site-header{
	padding-top: 12px;
	padding-bottom: 12px;
	overflow:hidden;
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    flex-direction: column;
	
	.site-branding{
		text-transform: uppercase;
	}

	.main-navigation{
		
		@include media-breakpoint-down(sm){
			width: 100%;
			#menu-main-nav{
				flex-direction: column;
			}
		}
	}
}

// Site Content
.site-content{
	&:not(.full-width){
		@include container();
		clear: both;

		.content-area{
			@include span(12);

			// SM Breakpoint
			@include media-breakpoint-up(sm){
				@include span(7);
			}

			// MD Breakpoint
			@include media-breakpoint-up(md){
				@include span(8);
			}

			// LG Breakpoint
			@include media-breakpoint-up(lg){
				@include span(9);
			}
		}

		.widget-area{
			@include span(12);

			// SM Breakpoint
			@include media-breakpoint-up(sm){
				@include span(5);
			}

			// MD Breakpoint
			@include media-breakpoint-up(md){
				@include span(4);
			}

			// LG Breakpoint
			@include media-breakpoint-up(md){
				@include span(3);
			}

		}
	}
}

// Site Footer
.site-footer{



}
